################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab_01/.vs/Lab_01/FileContentIndex
/Lab_01/.vs/Lab_01/v17/ipch/AutoPCH
/Lab_01/.vs/Lab_01/v17
/Lab_01/Lab_01/x64/Debug
/Lab_01/Lab_01/Lab_01.vcxproj.user
/Lab_01/Lab_01/Lab_01.vcxproj.filters
/Lab_01/Lab_01/Lab_01.vcxproj
/Lab_01/x64/Debug
/Lab_02/x64/Debug
/Lab_02/.vs/Lab_02
/Lab_02/Lab_02/x64/Debug
/.gitignore
